<footer class="footer">
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__side">
                <a href="#" class="footer__logo" style="display: block; width: 200px; height: 48px; background: #000000;">
                    <img src="./img/logo.svg" alt="">
                </a>
                <p class="footer__desc">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus repellat, similique nam facilis, doloribus nemo enim numquam id deleniti reiciendis, odit illum mollitia ducimus! Itaque pariatur harum, repellendus natus quas neque error!
                </p>
            </div>
            <div class="footer__columns">
                <div class="footer__column">
                    <h4 class="footer__column-title title">Навигация</h4>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Главная</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Аренда лодок</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">О нас</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__list-link">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title title">Контакты</h4>
                    <div class="footer__contacts">
                        <a href="#" class="footer__contact">
                            <img loading="lazy" src="./img/icons/call.svg" alt="">
                            +1 (124) 738 3444
                        </a>
                        <a href="#" class="footer__contact">
                            <img loading="lazy" src="./img/icons/mail.svg" alt="">
                            example@example.com
                        </a>
                        <a href="#" class="footer__contact">
                            <img loading="lazy" src="./img/icons/tg.svg" alt="">
                            Telegram
                        </a>
                        <a href="#" class="footer__contact">
                            <img loading="lazy" src="./img/icons/whatsapp.svg" alt="">
                            Whatsapp
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom-text">© Click&Boat 2026 - Все права защищены</p>
            <a href="#" class="footer__bottom-link">Политика конфидициальности</a>
            <a href="#" class="footer__bottom-link">Политика конфидициальности</a>
        </div>
    </div>
</footer> 

<!-- @@include("_sprite.svg") -->
<script src="js/common.js?v=0"></script> 
</body> 
</html>