<header class="header">
    <div class="header__container container">
        <a href="#" class="header__logo" style="display: block; width: 200px; height: 48px; background: #000000;">
            <img src="./img/logo.svg" alt="">
        </a>
        <div class="header__menu">
            <div class="header__menu-container container">
                <ul class="header__list">
                    <li class="header__list-item">
                        <a href="index.html" class="header__list-link">Главная</a>
                    </li>
                    <li class="header__list-item">
                        <a href="catalog.html" class="header__list-link">Аренда лодок</a>
                    </li>
                    <li class="header__list-item">
                        <a href="catalog.html" class="header__list-link">Моторные яхты</a>
                    </li>
                    <li class="header__list-item">
                        <a href="catalog.html" class="header__list-link">Парусные яхты</a>
                    </li>
                    <li class="header__list-item">
                        <a href="catalog.html" class="header__list-link">Катамараны</a>
                    </li>
                </ul>
                <div class="header__socials">
                    <a href="#" class="header__social">
                        <img src="./img/icons/tg.svg" alt="">
                    <span>Telegram</span>
                </a>
                    <a href="#" class="header__social">
                        <img src="./img/icons/whatsapp.svg" alt="">
                    <span>Whatsapp</span>
                </a>
                </div>
            </div>
        </div>
        <div class="header__side">
            <div class="header__socials">
                <a href="#" class="header__social">
                    <img src="./img/icons/tg.svg" alt="">
                    <span>Telegram</span>
                </a>
                <a href="#" class="header__social">
                    <img src="./img/icons/whatsapp.svg" alt="">
                    <span>Whatsapp</span>
                </a>
            </div>
        </div>
        <div class="header__burger">
            <span></span>
        </div>
    </div>
</header>