@use 'lib' as *;

.c-card {
	$self: &;

	background: $card;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	height: fit-content;

	&:hover {
		#{$self}__navigation {
			opacity: 1;
		}
	}

	&__image.swiper {
		aspect-ratio: 4 / 3;
		max-width: 100%;
		width: 100%;
		position: relative;
	}

	&__brings {
		position: absolute;
		top: 4px;
		left: 4px;
		padding: fluid(16px, 8px) 24px fluid(16px,4px) fluid(16px, 8px);
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;
		z-index: 1;
	}

	&__navigation {
		position: absolute;
		top: 50%;
		width: 100%;
		z-index: 1;
		padding: 0 8px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		transform: translateY(-50%);
		pointer-events: none;
		transition: all $transition;
		opacity: 0;

		@include media("<=md") {
			opacity: 1;
		}
	}

	&__navigation-btn {
		border-radius: 50%;
		background: $card;
		width: fluid(48px, 32px);
		height: fluid(48px, 32px);
		position: relative;
		pointer-events: all;

		&::after {
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_prev {
			&::after {
				background: url("../img/icons/arrow-left.svg") no-repeat center / contain;
			}
		}

		&_next {
			&::after {
				background: url("../img/icons/arrow-right.svg") no-repeat center / contain;
			}
		}
	}

	&__bring {
		img {
			width: 20px;
			height: 20px;
			object-fit: contain;
		}

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		background: $card;
		border-radius: 16px;
		font-size: 16px;
		padding: 4px 8px;
		min-height: 28px;
		line-height: 0.9;
	}

	&__image-slide.swiper-slide {
		max-width: 100%;
		position: absolute;
		inset: 0;
		top: 0; left: 0;
		transition: all $transition;

		&.swiper-slide-active {
			opacity: 1 !important;
		}
	}

	&__info {
		padding: 16px;
		border-bottom: 1px solid rgba($color: $textColor, $alpha: 0.1);
	}

	&__title {
		font-size: fluid(20px, 18px);
		font-weight: 700;
	}

	&__desc {
		margin-bottom: 16px;
	}

	&__elements {
		display: flex;
		flex-direction: row;
		gap: 8px;
		flex-wrap: wrap;
		margin-bottom: 16px;
	}

	&__element {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: fluid(14px, 12px);
		gap: 8px;
		font-weight: 500;
		border-radius: 16px;
		box-shadow: inset 0 0 0 1px rgba($color: $textColor, $alpha: 0.1);
		padding: 4px 8px;

		img {
			width: 20px;
			height: 20px;
			object-fit: contain;
		}
	}

	&__about-list {
		display: block;

		li {
			display: inline-block;
			opacity: 0.8;

			&:not(:last-child) {
				&::after {
					content: '·';
					margin-left: 4px;
				}
			}
		}
		
	}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		gap: 16px;
	}

	&__list {
		font-size: 14px;
		li::before {
			content: '✓';
			margin-right: 8px;
			color: $accentColor;
		}
	}

	&__price {
		text-wrap: nowrap;
		font-size: fluid(18px, 16px);
		b {
			font-size: fluid(24px, 20px);
		}
	}

}
