@use 'lib' as *;

.a-card {
	$self: &;

	overflow: hidden;
	border-radius: fluid(16px, 8px);
	background: $card;
	display: flex;
	flex-direction: column;

	&.swiper-slide {
		display: flex;
		flex-direction: column;
	}
	
	&:hover {
		#{$self}__image {
			opacity: 0.7;
		}
	}

	&__image {
		width: 100%;
		aspect-ratio: 4 / 3;
		object-fit: cover;
		transition: all $transition;
	}

	&__content {
		padding: fluid(24px, 16px);
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&__title {
		font-weight: 700;
		font-size: fluid(18px, 16px);
		margin-bottom: 16px;
	}

	&__desc {
		margin-bottom: 24px;
	}

	&__date {
		margin-top: auto;
		font-size: 14px;
		opacity: 0.7;
	}

}